<div class="container">
  <div class="text-center">
    <button type="button" class="btn btn-success btn-lg">Update AD Details</button>
  </div>
  <div class="break"></div>
  <div class="break"></div>
  <div class="card">
    <%= render partial: "ads_form", resource: @ads %>
    <div class="break"></div>
    <button type="button" class="btn btn-warning">Update Ad</button>
  </div>
</div>
