<div class="Landing-page-heading">
   <h1>Find the Best Car for you</h1>
</div>
<div class="hero">
   <div class="highway"></div>
   <div class="city"></div>
   
   <div class="car">
      <%= image_tag "moving-car.png" %>
   </div>
  
   <div class="wheel">
      <%= image_tag "wheel.png", class: "back-wheel" %>
      <%= image_tag "wheel.png", class: "front-wheel" %>
   </div>
</div>