<div class="Landing-page-heading">
   <h1>Find the Best Car for you</h1>
</div>
<div class="hero">
   <div class="highway"></div>
   <div class="city"></div>
   
   <div class="car">
         <img src="https://www.aartiinformatics.com/wp-content/uploads/2014/09/new-sports-car.png">
   </div>
  
   <div class="wheel">
         <img src="https://pngimg.com/uploads/car_wheel/car_wheel_PNG23306.png" class="back-wheel">
         <img src="https://pngimg.com/uploads/car_wheel/car_wheel_PNG23306.png" class="front-wheel">
   </div>
</div>