.center_div {
  margin: 0 auto;
  width: 20%;
}

.bg {
  background-color: #a6c9e1;
}

.field_width {
  width: 240px;
}

.caret {
  color: solid darkgrey;
  width: 10%;
}

.filterbutton {
  margin-top: 45px;
}

.btn-secondary {
  color: #333333;
  background-color: lightgray;
}

.container_green {
  background-color: lightgreen;
  margin: 0px 17px 0px 17px;
  border-radius: 7px;
}

.break {
  margin-top: 20px;
}

.container_white {
  background-color: white;
  margin: 0px 18px 0px 18px;
  border-radius: 7px;
}
