/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import "./actiontext.scss";

*
{
    margin: 0;
    padding: 0;
}
.hero
{
    height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1517639493569-5666a7b2f494?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.highway
{
    height: 200px;
    width: 500%;
    display: block;
    background-image: url(https://us.123rf.com/450wm/andreykuzmin/andreykuzmin1605/andreykuzmin160500066/56495798-asphalt-highway-road-marks-top-view.jpg?ver=6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: highway 5s linear infinite;
}
@keyframes highway
{
    100%
    {
        transform: translateX(-3400px);
    }
}
.city
{
    height: 900px;
    width: 500%;
    background-image: url(https://i.pinimg.com/originals/03/42/f0/0342f0d771ed35ab0cf65fe58e5293ff.png);
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background-repeat: repeat-x;
    animation: city 20s linear infinite;
}
@keyframes city
{
    100%
    {
        transform: translateX(-1400px);
    }
}

.car
{
    width: 500px;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}
.car img
{
    width: 100%;
    animation: car 1s linear infinite;
}
@keyframes car
{
    100%
    {
        transform: translateY(-1px);
    }
    50%
    {
        transform: translateY(-1px);
    }
    0%
    {
        transform: translateY(-1px);
    }
}
.wheel 
{
    left: 50%;
    bottom: 179px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}
.wheel img
{
    width: 72px;
    height: 72px;
    animation: wheel 1s linear infinite;
}
.back-wheel
{
    left: -165px;
    position: absolute;
}
.front-wheel
{
    left: 90px;
    position: absolute;
}
@keyframes wheel
{
    100%
    {
        transform: rotate(360deg);
    }
}

.Landing-page-heading {
  left: 500px;
  top: 90px;
  position: absolute;
  z-index: 1;
}